@use "src/styles/mixins";
@use "src/styles/variables";

.main {
    z-index: 0;
    position: absolute;
    background-color: variables.$bg-color;
}

@include mixins.portrait__mobile {
    .main {
        width: 100%;
        height: 100vh;
    }
}
@include mixins.landscape__mobile {
    .main {
        width: 100%;
        height: 100vh;
    }
}

@mixin main__desktop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@include mixins.portrait__desktop {
    .main {
        @include main__desktop;
    }
}
@include mixins.landscape__desktop {
    .main {
        @include main__desktop;
    }
}

.topBar {
    @include mixins.flex_flex_end_container_row;
    z-index: 1;
    width: 80%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 10%;
}

@include mixins.portrait__mobile {
    .topBar {
        top: 3%;
    }
}

@include mixins.landscape__mobile {
    .topBar {
        top: 2%;
    }
}

.menuContainer {
    @include mixins.flex_space_between_container_row;
    height: 100%;
}

@include mixins.landscape__mobile {
    .menuContainer { width: 100%; }
}
@include mixins.landscape__desktop {
    .menuContainer { width: 85%; }
}

@include mixins.portrait__mobile {
    .menuContainer { width: 90%; }
}
@include mixins.portrait__desktop {
    .menuContainer { width: 85%; }
}

.logoWrapper {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    width: 10em;
    height: 10em;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    background-image: url("../../static/img/PeremogaLogo.svg");
    clip-path: polygon(0 0, 35% 100%, 65% 100%, 100% 0);
}

@include mixins.portrait__mobile {
    .logo {
        width: 9em;
        height: 9em;
    }
}
@include mixins.landscape__mobile {
    .logo {
        width: 8em;
        height: 8em;
    }
}

.menu {
    width: 95%;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.menuItemContainer {
    width: 33%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menuItemText {
    align-self: center;
    cursor: pointer;
    font-size: 1.3em;
    text-transform: uppercase;
    color: variables.$text-color;
}

@include mixins.portrait__mobile {
    .menu { flex-direction: column; }
    .menuItemContainer {
        width: 100%;
        height: 50%
    }
}

.langSwitcherContainer {
    width: 4em;
    height: 4em;
    position: relative;
    align-items: center;
}

.background {
    position: fixed;
    width: 50vmax;
    height: 50vmax;
    background-color: #8484c0;
    border-radius: 50%;
    z-index: -1;
}

@include mixins.landscape {
    .background {
        filter: blur(12vw);
    }

    .background.position1 {
        top: -30vw;
        left: 15vw;
    }

    .background.position2 {
        top: 10vw;
        left: 75vw;
    }
}

@include mixins.portrait {
    .background {
        filter: blur(7vh);
    }

    .background.position1 {
        top: -35vh;
        left: 20vw;
    }

    .background.position2 {
        top: 40vh;
        left: 60vw;
    }
}