@use "../../../../../styles/variables";
@use "../../../../../styles/mixins";

.videoContainer {
  border: variables.$fg-color 2px solid;
  z-index: 1;
  border-radius: 2em;
  overflow: hidden;
  position: absolute;
  width: 100%;
}