@use "src/styles/mixins";
@use "src/styles/variables";
@use "src/styles/animations";

.main {
  @include mixins.fullscreen_container;
  background-color: rgba(variables.$bg-color, .5);
}

.wrapper {
  width: 80%;
  height: 80%;
  margin-top: -1%;
  display: grid;

  h2 {

  }
}

@include mixins.landscape__desktop {
  .wrapper {
    grid-template-columns: 45% 55%;
    grid-template-rows: repeat(2, 1fr);
  }
}

@mixin elementWrapper {
  @include mixins.flex_centralized_container;
}

.contactsListWrapper {
  @include elementWrapper;
}
.callbackFormWrapper {
  @include elementWrapper;
}
.mapWrapper {
  @include elementWrapper;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.wrapper.entering {
  .contactsListWrapper {
    @include animations.slide-in__7;
  }
  .callbackFormWrapper {
    @include animations.slide-in__5;
  }
  .mapWrapper {
    @include animations.slide-in__2;
  }
}

.wrapper.exiting {
  .contactsListWrapper {
    @include animations.slide-out__7;
  }
  .callbackFormWrapper {
    @include animations.slide-out__5;
  }
  .mapWrapper {
    @include animations.slide-out__2;
  }
}