.pageContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    100% {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateX(0);
    }
}

.pictureAppears {
    animation: slideInDown 1050ms !important;
}

.pictureDisappears {
    animation: slideInDown 1050ms !important;
    animation-direction: reverse !important;
}

.boxesContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    height: 50%;
    background-color: #094f09;
}
