@use "../../styles/variables";

.itemText {
    align-self: center;
    cursor: pointer;
    font-size: 1.3em;
    text-transform: uppercase;
    color: variables.$text-color;
}

.itemText:hover {
    cursor: pointer;
}

.itemUnderlineContainer {
    position: relative;
    width: 100%;
    height: 0.15em;
}

.itemUnderlineInactive {
    width: 0;
    height: 100%;
    background-color: variables.$fg-color;
    transition: width 200ms;
}

.itemUnderlineActive {
    @extend .itemUnderlineInactive;
    width: 100%;
}