@use "src/styles/mixins";
@use "src/styles/animations";
@use "src/styles/variables";

.contentAndTextContainer {
  z-index: 99;
  position: relative;
}

@include mixins.landscape__mobile {
  .contentAndTextContainer {
    width: 80%;
    height: 65%;
    margin-left: 5%;
  }
}
@include mixins.landscape__desktop {
  .contentAndTextContainer {
    height: 76%;
    width: 80%;
  }
}
@include mixins.portrait__mobile {
  .contentAndTextContainer {
    width: 90%;
    height: 55%;
  }
}
@include mixins.portrait__desktop {
  .contentAndTextContainer {
    height: 55%;
    width: 80%;
    margin-top: -10%;
  }
}

%contentWrapper {
  position: absolute;
}

@include mixins.landscape {
  %contentWrapper {
    height: 100%;
    width: 80%;
    top: 0;
  }
}

@include mixins.landscape__mobile {
  %contentWrapper {
    width: 60%;
  }
}

@include mixins.portrait {
  %contentWrapper {
    width: 100%;
    height: 60%;
    bottom: 0;
  }

  .entering %contentWrapper {
    @include animations.slide-in__4;
  }
  .exiting %contentWrapper {
    @include animations.slide-out__4;
  }
}
@include mixins.portrait__mobile {
  %contentWrapper {
    height: 50%;
  }
}

.contentWrapperLeft {
  @extend %contentWrapper;
  left: 0;
}

@include mixins.landscape {
  .entering .contentWrapperLeft {
    @include animations.slide-in__6;
  }
  .exiting .contentWrapperLeft {
    @include animations.slide-out__6;
  }
}

.contentWrapperRight {
  @extend %contentWrapper;
  right: 0;
}

@include mixins.landscape {
  .entering .contentWrapperRight {
    @include animations.slide-in__2;
  }
  .exiting .contentWrapperRight {
    @include animations.slide-out__2;
  }
}

%textWrapper {
  position: absolute;
  top: 0;

  h1 {
    text-transform: uppercase;
    text-decoration: underline variables.$fg-color 1px solid;
    text-underline-offset: .1em;
    text-align: center;
    display: block;
    margin: 1em 1em;
  }
  p {
    margin: .5em .5em;
  }
}

@include mixins.landscape {
  %textWrapper {
    @include mixins.flex_space_between_container_column;
  }

  .entering %textWrapper {
    @include animations.slide-in__6;
  }
  .exiting %textWrapper {
    @include animations.slide-out__6;
  }
}
@include mixins.landscape__mobile {
  %textWrapper {
    height: 100%;
    width: 35%;

    h1 {
      margin: 0 0;
    }
  }
}
@include mixins.landscape__desktop {
  %textWrapper {
    height: 50%;
    width: 20%;
  }
}

@include mixins.portrait {
  %textWrapper {
    height: 30%;
    width: 100%;
    @include mixins.flex_space_between_container_row;
  }

  .entering %textWrapper {
    @include animations.slide-in__0;
  }
  .exiting %textWrapper {
    @include animations.slide-out__0;
  }
}

.textWrapperLeft {
  @extend %textWrapper;
  left: 0;
  margin-right: 2em;
}

@include mixins.landscape {
  .entering .textWrapperLeft {
    @include animations.slide-in__6;
  }
  .exiting .textWrapperLeft {
    @include animations.slide-out__6;
  }
}

.textWrapperRight {
  @extend %textWrapper;
  right: 0;
  margin-left: 2em;

  p {
    text-align: right;
  }
}

@include mixins.landscape {
  .entering .textWrapperRight {
    @include animations.slide-in__2;
  }
  .exiting .textWrapperRight {
    @include animations.slide-out__2;
  }
}