@use "src/styles/mixins";
@use "src/styles/variables";

.langSwitcherContainer {
    width: 80%;
    height: 50%;
    padding: 0 10%;
    margin-top: 24%;
    border: variables.$text-color 1px solid;
    border-radius: 0.5em;
    cursor: pointer;
    align-self: center;
    @include mixins.flex_space_between_container_row;
}

.langName {
    color: variables.$text-color;
    display: block;
    font-size: 0.9em;
}

.arrow {
    content: "";
    width: 0.7em;
    height: 0.5em;
    background-color: variables.$text-color;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

@keyframes rotateUp {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

.arrowTurnsUp {
    animation: rotateUp 250ms;
}

.arrowUp {
    transform: rotateX(180deg);
}

.arrowTurnsDown {
    animation: rotateUp 250ms reverse;
}

.optionsContainer {
    width: 100%;
    position: relative;
    border-radius: 0.5em;
    margin-top: 0.5vh;
    height: 150%;
    border: variables.$text-color 1px solid;
    overflow: hidden;
    outline: none;
}

@keyframes dropdown {
    0% {
        height: 0;
    }
    100% {
        height: 150%;
    }
}

.optionsEntering {
    animation: dropdown 200ms;
}

.optionsExiting {
    animation: dropdown 250ms reverse;
}

.optionContainer {
    width: 80%;
    height: 33.33%;
    padding: 0 10%;
    cursor: pointer;
    @include mixins.flex_space_between_container_row;
}

.highlighted {
    background-color: variables.$fg-color;
}

.checkMark {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: variables.$text-color;
}
