@use "src/styles/mixins";

.formWrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    @include mixins.flex_space_between_container_column;

    h2 {
        text-transform: uppercase;
    }
}

.callbackForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.result {
    width: 200px;
    height: 30px;
}

.green {
    color: #094f09;
}

.red {
    color: #a10b0b;
}