.main {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-color);
}

.mainContainer {
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

.topBar {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
}

.halfTopBar {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoContainer {
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    background-color: var(--fg-color) ;
}

.menu {
    width: 66.66%;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.menuItemContainer {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.langSwitcherContainer {
    width: 8vh;
    height: 8vh;
    position: relative;
    align-items: center;
}

.background {
    position: fixed;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    box-sizing: border-box;
    filter: blur(10vw);
    background-color: #3d3d88;
    border-radius: 50%;
    z-index: -1;
}