:root {
    --bg-color: #0F0359;
    --text-color: #e6e1ff;
    --fg-color: rgb(155, 129, 231);
}

@font-face {
    font-family: "LunasimaBold";
    src: local("Lunasima-Bold"),
    url("static/fonts/Lunasima-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LunasimaRegular";
    src: local("Lunasima-Regular"),
    url("static/fonts/Lunasima-Regular.ttf") format("truetype");
}

* {
    font-family: LunasimaRegular;
}